@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'JetBrain Mono Regular';
	src: url('./assets/fonts/JetBrain/JetBrainsMono-Regular.woff2');
}

@font-face {
	font-family: 'JetBrain Mono Bold';
	src: url('./assets/fonts/JetBrain/JetBrainsMono-Bold.woff2');
}

@font-face {
	font-family: 'JetBrain Mono Light';
	src: url('./assets/fonts/JetBrain/JetBrainsMono-Light.woff2');
}

@font-face {
	font-family: 'JetBrain Mono Extra Bold';
	src: url('./assets/fonts/JetBrain/JetBrainsMono-ExtraBold.woff2');
}

@font-face {
	font-family: 'JetBrain Mono Italic';
	src: url('./assets/fonts/JetBrain/JetBrainsMono-Italic.woff2');
}

@font-face {
	font-family: 'League Spartan Light';
	src: url('./assets/fonts/League/LeagueSpartan-Light.ttf');
}

@font-face {
	font-family: 'League Spartan Bold';
	src: url('./assets/fonts/League/LeagueSpartan-Bold.ttf');
}

@font-face {
	font-family: 'League Spartan Extra Bold';
	src: url('./assets/fonts/League/LeagueSpartan-ExtraBold.ttf');
}

@font-face {
	font-family: 'League Spartan Regular';
	src: url('./assets/fonts/League/LeagueSpartan-Regular.ttf');
}

* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
